@import url(http://fonts.googleapis.com/css?family=Piedra);

.body {
  padding-top: 15px;
  font-size: 20px;
  padding-top: 15px;
}

.text {
	padding-top: 20px;
	font-family: 'Piedra';
	font-size: 90px;
}

.band-bio {
	font-size: 17px;
}