@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Economica:400,700);

.body {
  padding-top: 15px;
  font-size: 20px;
  padding-top: 15px;
}

.text {
	font-family: 'Economica', 700;
	font-size: 105px;
}